.centered-image-container {
    display: flex;
    justify-content: top;
    align-items: top;
    width: 100%; /* Oranları korumak için */
}

.centered-image {
    width: 100%; /* Oranları korumak için */
    height: 450px;
    object-fit: cover;    
}

.aboutus {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.baslik {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.4), 0px 0px 10px rgba(0, 0, 0, 0.6);
}


.aboutus h2 {
    text-align: center;
    margin-bottom: 20px;
}

.aboutus h3 {
    margin-top: 20px;
}

.aboutus p, .aboutus ul {
    margin-bottom: 20px;
    line-height: 1.6;
}

.aboutus ul {
    list-style-type: disc;
    margin-left: 20px;
}

.aboutus-box {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.aboutus-image {
    max-width: 60%;
    height: 1060px;
    margin-right: 20px;
    flex: 1 1 300px;
    object-fit: cover;    

}

.aboutus-content {
    flex: 2 1 600px;
}

.header h1 {
    font-family: 'Pacifico', cursive;
}